<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Offre d'emploi</title>
	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}"/>
</head>
<body>
	<h2>Hee safi tu dois développer</h2>
	 <div class="nav navbar-default">
		 	<ul class="nav navbar-nav">
		 		<li><a th:href="@{/Offre/liste}">Offre d'emploi</a></li>
		 		<li><a th:href="@{/Candidat/liste}">Demande d'emploi</a></li>
		 		<li><a th:href="@{/Offre/listeoffre}"><button type="button" class="btn btn-success">Voir les offres</button></a></li>
		 		<li><a th:href="@{/Candidat/listedemande}"><button type="button" class="btn btn-success">Voir demande</button></a></li>
		 		
		 	</ul>
		 </div>
	<div class="container col-sm-6 col-md-6" >
		<div class="panel panel-info">
			<div class="panel-heading">Liste des offres</div>
			<div class="panel-body">
			<table class="table table-striped table-bordered">
					<tr>
						<th>Identifiant</th>
						<th>Nom Entreprise</th>
						<th>Titre poste</th>
						<th>Description</th>
						<th>Action</th>
						<th>Action</th>	
					</tr>			
					<tr th:each="o:${liste_offres}">
						<td th:text="${o.id}"></td>
						<td th:text="${o.nomEntreprise}"></td>
						<td th:text="${o.titreposte}"></td>
						<td th:text="${o.description}"></td>
						<td><a th:href="@{/Offre/edit(id=${o.id})}">Update</a></td>
						<td><a th:href="@{/Offre/delete(id=${o.id})}">Delete</a></td>
					</tr>
				</table>
			</div>
			</div>
		</div>
			
		<div class="container col-sm-6 col-md-6" >
		<div class="panel panel-info">
			<div class="panel-heading">Formulaire de gestion des offres</div>
			<div class="panel-body">
			<form method="POST" th:action="@{/Offre/add}" th:object="${offres}">
		 				<div class="from-group">
		 					<label class="from-label">Identifiant</label>
		 					<input class="form-control" type="text" readonly name="id" th:field="*{id}"/>
		 				</div>
		 				
		 				
		 				<div class="from-group">
		 					<label class="from-label">Nom de l'entreprise</label>
		 					<input class="form-control" type="text" name="nomEntreprise" th:field="*{nomEntreprise}" />
		 				</div>
		 				<div class="from-group">
		 					<label class="from-label">Titre du poste</label>
		 					<input class="form-control" type="text" name="titreposte" th:field="*{titreposte}"/>
		 				</div>
		 				
		 				
		 				<div class="from-group">
		 					<label class="from-label">Description</label>
		 					<textarea class="form-control" type="text" name="description" ></textarea>
		 				</div>
		 				
		 				<div class="from-group">
		 					<input class="btn btn-success" type="submit" name="valider" value="Valider" />
		 					<input class="btn btn-danger" type="reset" name="annuler" value="Annuler" />
		 				</div>
		 			</form>
			</div>
			
		</div>
	</div>
	<div class="panel-footer">Author safibra Diallo</div>
</body>
</html>