<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org" >
<head>
	<meta charset="UTF-8"/>
	<title>Candidature</title>
	<link rel="stylesheet" type="text/css" th:href="@{../../css/bootstrap.min.css}"/>
</head>
<body>
	<h2>Hee safi tu dois développer</h2>
	 <div class="nav navbar-default">
		 	<ul class="nav navbar-nav">
		 		<li><a th:href="@{/Offre/liste}">Offre d'emploi</a></li>
		 		<li><a th:href="@{/Candidat/liste}">Demande d'emploi</a></li>
		 		<li><a th:href="@{/Offre/listeoffre}"><button type="button" class="btn btn-success">Voir offres</button></a></li>
		 		<li><a th:href="@{/Candidat/listedemande}"><button type="button" class="btn btn-success">Voir demandes</button></a></li>
		 		
		 	</ul>
		</div>
				
		<div class="container col-sm-6 col-md-3" >
		<div class="panel panel-default">
			<div class="panel-heading">Postulez votre demande</div>
			<div class="panel-body">
			<form method="POST" th:action="@{/Candidat/add}" th:object="${candidat}">
		 				<div class="from-group">
		 					<label class="from-label">Identifiant</label>
		 					<input class="form-control" type="text" name="id" th:field="*{id}" readonly />
		 				</div>
		 						
		 				<div class="from-group">
		 					<label class="from-label">Nom</label>
		 					<input class="form-control" type="text" name="nom" th:field="*{nom}"/>
		 				</div>
		 				<div class="from-group">
		 					<label class="from-label">Prénom</label>
		 					<input class="form-control" type="text" name="prenom" th:field="*{prenom}" />
		 				</div>
		 				<!-- div class="from-group">
		 					<label class="from-label">Date</label>
		 					<input class="form-control" type="Date" name="date" />
		 				</div> -->
		 				<div class="from-group">
		 					<label class="from-label">Expérience</label>
		 					<input class="form-control" type="text" name="experience" th:field="*{experience}" />
		 				</div>
		 				<div class="from-group">
		 					<label class="from-label">Niveau d'étude</label>
		 					<input class="form-control" type="text" name="niveauEtude" th:field="*{niveauEtude}" />
		 				</div>
		 				<div class="from-group">
		 					<label class="from-label">Disponibilité</label>
		 					<input class="form-control" type="text" name="Disponibilite" th:field="*{Disponibilite}" />
		 				</div>
		 				<div class="from-group">
		 					<label class="from-label">Motivation</label>
		 					<textarea class="form-control" type="text" name="motivation" th:field="*{motivation}" ></textarea>
		 				</div>
		 				<div class="from-group">
		 					<input class="btn btn-success" type="submit" name="valider" value="Valider" />
		 					<a th:href="@{/Offre/liste}"><button type="button" class="btn btn-primary">Upload CV</button></a>
		 					<input class="btn btn-danger" type="reset" name="annuler" value="Annuler" />
		 				</div>
		 			</form>
			</div>
			
		</div>
		
	</div>
	
	<div class="container col-sm-6 col-md-9" >
		<div class="panel panel-info">
			<div class="panel-heading">Liste des demandes</div>
			<div class="panel-body">
			<table class="table table-striped table-bordered">
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Date</th>
						<th>Durée d'experience</th>
						<th>Disponibilité</th>
						<th>Niveau d'étude</th>
						<th>Motivation</th>
						<th>Action</th>
						<th>Action</th>	
					</tr>			
					<tr th:each="c:${liste_candidats}">
						<td th:text="${c.id}"></td>
						<td th:text="${c.nom}"></td>
						<td th:text="${c.prenom}"></td>
						<td th:text="${c.date}"></td>
						<td th:text="${c.experience}"></td>
						<td th:text="${c.Disponibilite}"></td>	
						<td th:text="${c.niveauEtude}"></td>
						<td th:text="${c.motivation}"></td>
						<td><a th:href="@{/Candidat/edit(id=${c.id})}">Update</a></td>
						<td><a th:href="@{/Candidat/delete(id=${c.id})}">Delete</a></td>
					</tr>
				</table>
			</div>
			</div>
		</div> 
		 
</body>

</html>